[submodule "frontend"]
	path = frontend
	url = https://github.com/ankothari1986-ux/idlecampus-frontend.git

[submodule "backend"]
	path = backend
	url = https://github.com/ankothari1986-ux/idlecampus-backend.git

[submodule "ml-service"]
	path = ml-service
	url = https://github.com/ankothari1986-ux/idlecampus-ml-service.git
[submodule "adaptive-learning"]
	path = adaptive-learning
	url = https://github.com/ankothari1986-ux/adaptive-learning.git
[submodule "adaptive-learning-gem"]
	path = adaptive-learning-gem
	url = https://github.com/ankothari1986-ux/adaptive-learning-ruby.git
