[submodule "frontend"]
	path = frontend
	url = https://github.com/ankothari1986-ux/idlecampus-frontend.git

[submodule "backend"]
	path = backend
	url = https://github.com/ankothari1986-ux/idlecampus-backend.git

[submodule "ml-service"]
	path = ml-service
	url = https://github.com/ankothari1986-ux/idlecampus-ml-service.git
